@model IEnumerable<EFDBFirstApproach.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p style="color:green;">@TempData["InsertMessage"]</p>
<p style="color:green;">@TempData["UpdateMessage"]</p>
<p style="color:green;">@TempData["DeleteMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <text>Active</text>
                }
                else
                {
                    <text>In Active</text>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
            </td>
        </tr>
    }

</table>
