@model IEnumerable<EFDBFirstApproach.Models.Salary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p style="color:green;">@TempData["InsertMessage"]</p>
<p style="color:green;">@TempData["UpdateMessage"]</p>
<p style="color:green;">@TempData["DeleteMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalSalary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalSalary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SalaryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SalaryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SalaryId })
            </td>
        </tr>
    }

</table>
