@model IEnumerable<Q_AManagement.Models.Question>

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Question Paper";
}

<style>
    .question {
        margin-bottom: 20px;
    }

    .options {
        margin-top: 10px;
    }

    .option {
        margin-right: 10px;
    }

    .radio-button {
        margin-right: 5px;
    }
</style>

<h2>Question Paper</h2>
<hr />

@using (Html.BeginForm("AnswerQuestionPaper", "Student", new { questionPaperId = ViewBag.QuestionPaperId }, FormMethod.Post, new { @class = "question-form" }))
{
    @Html.AntiForgeryToken()

    <div class="question-container">
        @foreach (var question in Model)
        {
            <div class="question">
                <h4>@Html.DisplayFor(modelItem => question.QuestionText)</h4>
                <div class="options">
                    <div class="option">
                        <label>
                            @Html.RadioButton($"{question.QuestionID}", $"{question.OptionA}", new { @class = "radio-button", required = "required" })
                            <span>@Html.DisplayFor(modelItem => question.OptionA)</span>
                        </label>
                    </div>
                    <div class="option">
                        <label>
                            @Html.RadioButton($"{question.QuestionID}", $"{question.OptionB}", new { @class = "radio-button", required = "required" })
                            <span>@Html.DisplayFor(modelItem => question.OptionB)</span>
                        </label>
                    </div>
                    <div class="option">
                        <label>
                            @Html.RadioButton($"{question.QuestionID}", $"{question.OptionC}", new { @class = "radio-button", required = "required" })
                            <span>@Html.DisplayFor(modelItem => question.OptionC)</span>
                        </label>
                    </div>
                    <div class="option">
                        <label>
                            @Html.RadioButton($"{question.QuestionID}", $"{question.OptionD}", new { @class = "radio-button", required = "required" })
                            <span>@Html.DisplayFor(modelItem => question.OptionD)</span>
                        </label>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="submit-button-container">
        <input type="submit" value="Submit" class="btn btn-primary submit-button mt-2" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger mt-2" })
    </div>
}