@using Q_AManagement.Helpers

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Q_AManagement.Models.AllTableJoin>

@{
    ViewBag.Title = "View Score";
}

<h2>View Score</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title col-6">@Model.First().Questions.QuestionPaper.Title</h4>
            <h4 class="col-6 d-flex justify-content-end">Score:@Model.First().Score</h4>
        </div>

        <hr />
        @foreach (var question in Model)
        {
            <p>@Html.DisplayFor(model => question.Questions.QuestionText)</p>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="optionA_@question.Questions.QuestionID" name="optionsRadios_@question.Questions.QuestionID" value="optionA" @(question.Submissions.TickedAnswer.ToLower() == question.Questions.OptionA.ToLower() ? "checked disabled" : "disabled")>
                    <label class="form-check-label" for="optionA_@question.Questions.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.Questions.OptionA)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="optionB_@question.Questions.QuestionID" name="optionsRadios_@question.Questions.QuestionID" value="optionB" @(question.Submissions.TickedAnswer.ToLower() == question.Questions.OptionB.ToLower() ? "checked disabled" : "disabled")>
                    <label class="form-check-label" for="optionB_@question.Questions.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.Questions.OptionB)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="optionC_@question.Questions.QuestionID" name="optionsRadios_@question.Questions.QuestionID" value="optionC" @(question.Submissions.TickedAnswer.ToLower() == question.Questions.OptionC.ToLower() ? "checked disabled" : "disabled")>
                    <label class="form-check-label" for="optionC_@question.Questions.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.Questions.OptionC)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="optionD_@question.Questions.QuestionID" name="optionsRadios_@question.Questions.QuestionID" value="optionD" @(question.Submissions.TickedAnswer.ToLower() == question.Questions.OptionD.ToLower() ? "checked disabled" : "disabled")>
                    <label class="form-check-label" for="optionD_@question.Questions.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.Questions.OptionD)</label>
                </div>
                <p><strong>Correct Answer:</strong> @question.Questions.CorrectAnswer</p>
            </div>
        }
        <div class="card-footer">
            @Html.ActionLink("Home", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>