@using Q_AManagement.Helpers

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model IEnumerable<Q_AManagement.Models.QuestionPaper>

@{
    ViewBag.Title = "Index";
}

<h2>Question Papers</h2>
@Html.DisplayTempData("DeleteMessage", "Question Paper Deleted Successfully!!", "red","left")

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.QuestionPaperID })*@
                <button type="button" onclick="location.href='@Url.Action(" ", new { id = item.QuestionPaperID})'" class="btn btn-primary">Edit</button>
                <button type="button" onclick="location.href='@Url.Action("ViewQuestionPaper", new { id = item.QuestionPaperID})'" class="btn btn-success">View</button>
                <button type="button" onclick="location.href='@Url.Action("DeleteQuestioPaper", new { id = item.QuestionPaperID})'" class="btn btn-danger">Delete</button>
                @*@Html.ActionLink("Delete", "Delete", new { id = item.QuestionPaperID })*@
            </td>
        </tr>
    }

</table>
