@using Q_AManagement.Helpers

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model IEnumerable<Q_AManagement.Models.Question>

@{
    ViewBag.Title = "View Questions";
}

<h2>View Questions</h2>

<div class="card">
    <div class="card-body">
        @if (Model.Any())
        {
            <h4 class="card-title">@Model.First().QuestionPaper.Title</h4>
            @Html.DisplayTempData("DeleteMessage", "Question Deleted Successfully!!", "red", "left")
            <hr />
            foreach (var question in Model)
            {
                <p>@Html.DisplayFor(model => question.QuestionText)</p>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="optionA_@question.QuestionID" name="optionsRadios_@question.QuestionID" value="optionA" @(question.CorrectAnswer.ToLower() == question.OptionA.ToLower() ? "checked disabled" : "disabled")>
                        <label class="form-check-label" for="optionA_@question.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.OptionA)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="optionB_@question.QuestionID" name="optionsRadios_@question.QuestionID" value="optionB" @(question.CorrectAnswer.ToLower() == question.OptionB.ToLower() ? "checked disabled" : "disabled")>
                        <label class="form-check-label" for="optionB_@question.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.OptionB)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="optionC_@question.QuestionID" name="optionsRadios_@question.QuestionID" value="optionC" @(question.CorrectAnswer.ToLower() == question.OptionC.ToLower() ? "checked disabled" : "disabled")>
                        <label class="form-check-label" for="optionC_@question.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.OptionC)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="optionD_@question.QuestionID" name="optionsRadios_@question.QuestionID" value="optionD" @(question.CorrectAnswer.ToLower() == question.OptionD.ToLower() ? "checked disabled" : "disabled")>
                        <label class="form-check-label" for="optionD_@question.QuestionID" style="font-weight: bold; color: black;">@Html.DisplayFor(model => question.OptionD)</label>
                    </div>
                    @if (!(ViewBag.Status == "Approved"))
                    {
                        <div class="form-check form-check-inline d-flex justify-content-end">
                            @Html.ActionLink("Edit", "EditQuestions", new { qpid = question.QuestionPaperID, qid = question.QuestionID }, new { @class = "btn btn-primary me-2" })
                            @Html.ActionLink("Delete", "DeleteQuestions", new { qpid = question.QuestionPaperID, qid = question.QuestionID }, new { @class = "btn btn-danger" })
                        </div>
                    }
                </div>
            }
            <div class="card-footer">
                @if (!(ViewBag.Status == "Approved"))
                {
                    @Html.ActionLink("Add New", "AddQuestions", null, new { @class = "btn btn-success" })
                }
                @Html.ActionLink("Home", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
        else
        {
            <div class="card-footer">
                @if (!(ViewBag.Status == "Approved"))
                {
                    @Html.ActionLink("Add New", "AddQuestions", null, new { @class = "btn btn-success" })
                }
                @Html.ActionLink("Home", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }

    </div>
</div>
